@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {box-sizing: border-box; 
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: white;
    font-family: 'Montserrat', sans-serif;
    background: url(https://cdn.discordapp.com/attachments/1063472451952062474/1066833956168794142/Fb9b7jy62jWQ1GVXHTeueAJDqVdsVszimPLC4T6a.png) center center no-repeat fixed; background-size: cover;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background: darkgray;
}

::-webkit-scrollbar-thumb:active {
    background: gray;
}

.topnav {
  background: none;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 0 3px 0;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  border-bottom: solid 1px white;
}

.hero-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero {
    text-align: center;
}

.hero img {
    width: 50vw;
}

.projectinfo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projectinfo {
    margin-top: 3em;
    width: 50vw;
    text-align: center;
}

.projectinfo h1 {
    border-bottom: 1px solid white;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
}

.text1 {
    margin-top: 10em;
    text-align: center;
}

.container-main {
    display: flex;
}

.container
{
  position:relative;
  width:100%;
  display:flex;
  justify-content:space-around;
}
.container .card
{
  position:relative;
  min-width:15em;
  display:flex;
  justify-content:center;
  align-items:center;
  height:300px;
  border-radius:4px;
  text-align:center;
  overflow:hidden;
  transition:0.5s;
}
.percent
{
  position:relative;
  width:150px;
  height:150px;
  border-radius:50%;
  background:#222;
  z-index:1000;
  overflow: hidden;
}
.percent .num
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:50%;
}
.percent .num h2
{
  color:#777;
  font-weight:700;
  font-size:40px;
  transition:0.5s;
}
.percent .num h2 span
{
  color:#777;
  font-size:24px;
  transition:0.5s;
}
.text
{
  position:relative;
  color:#777;
  margin-top:20px;
  font-weight:700;
  font-size:18px;
  letter-spacing:1px;
  text-transform:uppercase;
  transition:0.5s;
}
.card:hover .text
{
  color:#fff;
}
svg
{
  position:relative;
  width:150px;
  height:150px;
  z-index:1000;
}
svg circle
{
  width:100%;
  height:100%;
  fill:none;
  stroke:#191919;
  stroke-width:10;
  stroke-linecap:round;
  transform:translate(5px,5px);
}

.perc93:nth-child(2)
{
  stroke-dasharray:440;
  stroke-dashoffset:440;
}
.card:nth-child(1) .perc93:nth-child(2)
{
  stroke-dashoffset:calc(440 - (440 * 93) / 100);
  stroke:rgba(164, 68, 244, 0.4);
}

.perc78:nth-child(2)
{
  stroke-dasharray:440;
  stroke-dashoffset:440;
}
.card:nth-child(1) .perc78:nth-child(2)
{
  stroke-dashoffset:calc(440 - (440 * 78) / 100);
  stroke: rgba(164, 68, 244, 0.7);
}

.perc85:nth-child(2)
{
  stroke-dasharray:440;
  stroke-dashoffset:440;
}
.card:nth-child(1) .perc85:nth-child(2)
{
  stroke-dashoffset:calc(440 - (440 * 85) / 100);
  stroke:rgba(164, 68, 244, 1);
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.pricing-box {
    margin-top: 10em;
    display: flex;
    gap: 12.5em;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 60px;
}

.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-width: 20vw;
    min-height: 25em;
    background-color: #1c1c1c;
    box-shadow: 0px 0px 49px 0px rgba(164, 68, 244, 1);
    border-radius: 20px;
    overflow: hidden;
    
}

.pricing h1 {
    text-align: center;
}

.pricing li {
    line-height: 2em;
}

.pricing button {
    width: 60%;
    height: 3em;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 10%;
    color: white;
    background: #272727;
    transition: all .5s;
}

.pricing button:hover {
    box-shadow: 0px 0px 34px 0px rgba(255, 255, 255, 0.596);
    border: none;
}

.pricing button:active {
    box-shadow: 0px 0px 34px 0px rgba(119, 0, 255, 0.85);
}

.portfolio-box {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
}

.portfolio {
    text-align: center;
}

.portfolio img {
    width: 20vw;
    border-radius: 20px;
    padding: .5em .5em;
    border: none;
}

.contact-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
  margin-top: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-box {
  border: rgba(119, 0, 255, 0.65) 2px solid;
  border-radius: 25px;
  width: 50%;
  gap: 7em;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.contact {
    margin-top: 3em;
    width: 80vw;
}

.contact i {
    font-size: 30px;
    padding: 0 15px;
}

.btns img {
  margin: 15px;
  width: 5em;
  position: fixed;
  right: 0;
  bottom: 0;
  filter: contrast(0) brightness(100);
  z-index: 5;
}

.btns .github img {
  right: 5em;
  width: 4em;
  bottom: 0.7em;
}

@media screen and (max-width: 700px) {
  .pricing-box {
    flex-direction: column;
  }
  .projectinfo {
    text-align: center;
  }
  .container-main {
    flex-direction: column;
  }
  .contact h1 {
    text-align: center;
  }
  
.btns .github img {
  right: 0.5em;
  width: 2em;
  bottom: 3em;
}

.btns .discord img {
  width: 3em;
}

.banner-box {
  flex-direction: column;
}
}